/* CSS RESET */
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* -x-x- */

/* BASE STYLE */
:root {
  --ff-1: 'Montserrat',sans-serif;
  --ff-2: 'Fraunces',sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --base-fsize: 14px;
  --clr-primary-dark: hsl(158, 36%, 37%);
  --clr-primary-light: hsl(30, 38%, 92%);
  --clr-neutral-darker: hsl(212, 21%, 14%);
  --clr-neutral-dark: hsl(228, 12%, 48%);
  --clr-neutral-light: hsl(0, 0%, 100%);
}

/* config */
:root {
  --card-maxw-mobile: 34rem;
  --card-maxw-desktop: 58rem;
  --card-minw: 32.6rem;
  --card-padding-mobile: 2.1rem 2.3rem;
  --card-padding-desktop: 3rem 2.6rem;
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  font-style: normal;
  src: url("assets/Fraunces9pt-Bold.woff2") format("woff2");
}

html {
  font-family: var(--ff-1);
  font-size: 62.5%; /* 1rem = 10px */
  font-weight: var(--fw-medium);
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: var(--base-fsize);
  background-color: var(--clr-primary-light);
  color: var(--clr-neutral-dark);
  height: 100%;
}

main {
  padding: 4rem .8rem;
  display: grid;
  place-items: center;
  height: 100%;
}
/* -x-x- */

/* UTILS */
.no-text-selection {
  -webkit-user-select: none !important;  /* Chrome all / Safari all */
  -moz-user-select: none !important;     /* Firefox all */
  -ms-user-select: none !important;      /* IE 10+ */
  user-select: none !important;          /* Likely future */ 
}
/* -x-x- */

/* COMPONENTS */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-light);
  border-radius: 1.1rem;
  overflow: hidden;
  max-width: var(--card-maxw-mobile);
  min-width: var(--card-minw);
}

@media (min-width: 567px){
  .card {
    flex-direction: row;
    max-width: var(--card-maxw-desktop);
  }

  .card > * {
    width: 50%;
  }

  .card-thumbnail {
    width: 100%;
    height: 100%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  padding: var(--card-padding-mobile);
}

.product-tag {
  font-weight: var(--fw-medium);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.product-title {
  font-family: var(--ff-2);
  color: var(--clr-neutral-darker);
  font-weight: var(--fw-bold);
  font-size: 3.2rem;
  line-height: 1em;
  margin-top: 1.2rem;
}

.product-description {
  font-weight: var(--fw-medium);
  font-size: inherit;
  margin-top: 1.8rem;
  line-height: 1.6em;
}

.product-price {
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1.6rem;
  word-break: break-word;
  flex-wrap: wrap;
}

.product-price > h2 {
  font-family: var(--ff-2);
  color: var(--clr-primary-dark);
  font-size: 3.2rem;
  font-weight: var(--fw-bold);
}

.product-price > p {
  text-decoration: line-through;
  margin-top: .5em;
}

.product-addcart {
  margin-top: auto;
  width: 100%;
  color: var(--clr-neutral-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  outline: none;
  border: 2px solid transparent;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  column-gap: 1rem;
  font-weight: var(--fw-medium);
  font-family: var(--ff-1);
  cursor: pointer;
  transition: background-color .2s ease;
  background-color: var(--clr-primary-dark);
}

.product-addcart:link,
.product-addcart:visited {
  background-color: var(--clr-primary-dark);
  border: 2px solid transparent;
}

.product-addcart:focus {
  border: 2px solid var(--clr-neutral-darker);
}

.product-addcart:active {
  background-color: var(--clr-neutral-darker);
  border: 2px solid transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.product-addcart .icon-cart {
  margin-bottom: .18em;
}

.product-addcart span {
  font-weight: inherit;
}

@media (min-width: 567px){
  .product {
    padding: var(--card-padding-desktop);
  }

  .product-title {
    margin-top: 1.4rem;
  }

  .product-description {
    margin-top: 2.4rem;
  }

  .product-price {
    margin-top: 2rem;
  }

  .product-addcart:hover {
    background-color: var(--clr-neutral-darker);
  }
}
/* -x-x- */